/*
 * main nav mobile 
 */

 @import "variables";

 @media all and (max-width: $screen-sm) {

	.menu-closed {
		display: none;
		}
	}

@media all and (max-width: $screen-sm) {

	.mobile-menu-button {
			position: absolute;
			right: 1rem;
			top: 0.5rem;
		p {
			padding: 0.1rem 0 0 0;
			float: left;
			font-size: 1.2rem;
			color: $brand-secondary;
			&:hover, &:focus {
				color: lighten($brand-secondary, 40%);
			}
		}
		div {
			float: right;
			margin-left: 0.5rem;
			span {
				display: block;
				width: 25px;
				height: 3px;
				margin: 6px 0;
				background: rgb(0,0,0);
				z-index: 99;

			}
		}
	}

	#main-nav {
		a {
			color: #fff;
			text-decoration: none;
		}
		ul {
			background-color: #fff;
			margin: 0 -0.3rem;
			li {
				position: relative;
				float: left;
				width: 100%;
				a {
					padding: 1rem 0 1rem 0.3rem;
					border-top: 1px solid rgba(255,255,255,0.5);
					display: block;
				}
				.sub-menu {
					a {
						padding-left: 2rem;
					}
					.sub-menu a {
						padding-left: 4rem;
					}
				}
			}
		}
	}
	 
	.mobile-menu-expand {
		display: block !important; 
	}

	.burger-first {
		transform-origin: left 50%;
		-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transform: 0.3s ease-in-out;
			transform: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;
	}

	.burger-middle {
		-webkit-transition: opacity 0.3s ease-in-out;
    	-moz-transition: opacity 0.3s ease-in-out;
    	transition: opacity 0.3s ease-in-out;
	}

	.burger-last {
		transform-origin: left 50%;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transform: 0.3s ease-in-out;
		transform: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
		}
	

	.mobile-menu-clicked  {
		.burger-first {
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			-webkit-transform: 0.3s ease-in-out;
			transform: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;
	}
	.burger-middle {
		opacity: 0;
		-webkit-transition: opacity 0.3s ease-in-out;
		-moz-transition: opacity 0.3s ease-in-out;
		transition: opacity 0.3s ease-in-out;
	}
	.burger-last {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-transform: 0.3s ease-in-out;
		transform: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
		}
	}
}

@media all and (min-width: $screen-sm) {
	.mobile-nav {
		display: none;
	}
}




